
cmake-build-debug/.vs/untitled1/v16/.suo
cmake-build-debug/.vs/untitled1/v16/Browse.VC.db
cmake-build-debug/.vs/untitled1/v16/ipch/AutoPCH/11b79a1b8f065987/LITTLE_CLASS1.ipch
cmake-build-debug/.vs/untitled1/v16/ipch/AutoPCH/ee3720ab66831dca/ADAPTION_LITTLE_CLASS1.ipch
cmake-build-debug/.vs/untitled1/v16/ipch/AutoPCH/61e51962e04c2640/LITTLE_CLASS3.ipch
